{* Valid constructs - should pass *}
{$text|upper}
{=count([1, 2, 3])}
{=count(...)}
{var $dt = new DateTime()}
{=DateTime::createFromFormat('Y-m-d', '2024-01-01')}
{=DateTime::createFromFormat(...)}
{=DateTime::ATOM}
{=\PHP_VERSION}
{if $x instanceof DateTime}ok{/if}

{* Invalid constructs - should warn *}
{$text|unknownFilter}
{=unknownFunction($value)}
{=unknownFunction(...)}
{var $obj = new UnknownClass()}
{=DateTime::unknownMethod()}
{=DateTime::unknownMethod(...)}
{=DateTime::UNKNOWN_CONSTANT}
{=\UNKNOWN_GLOBAL_CONSTANT}
{if $x instanceof UnknownClass}bad{/if}
{=DateTime::$unknownProperty}
{=UnknownClass::class}
