parameters:
	excludePaths:
		analyse:
			- src/Latte/Compiler/TagParser.php

	level: 5

	paths:
		- src

	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
		- '#Match expression does not handle remaining value.*#'
