{var $query = 'trtr1;url=data:text;base64,PHNjcmlwdD5hbGVydCgiWFNTIik8L3NjcmlwdD4=" HTTP-EQUIV="refresh" t="'}

<title>{block title}Search: {$query}{/block}</title>

<meta property="og:title" content="{include title}">
